@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold
}

.nav__padding {
    padding: 1rem 3rem;
}

.section__padding {
    padding: 8rem 3rem 6rem 3rem;
}

.footer__padding {
    padding: 0 3rem 0 3rem;
}

@media screen and (max-width: 768px) {
    .section__padding {
        padding: 8rem 2rem 5rem 2rem;
    }

    .nav__padding {
        padding: 1rem 2rem;
    }

    .footer__padding {
        padding: 0 2rem 0 2rem;
    }
}

.link {
    @apply relative
}

.link:hover ul {
    height: 100px;
}

.link::before {
    @apply content-[""] absolute -bottom-[.3rem] bg-[#55a4ff] left-0 h-0 w-full transition-all;    
}

.link:hover::before {
    @apply h-1
}

.sidebar__toggle div {
    @apply w-5 h-0.5 transition-all;
}

.sidebar__toggle:hover div {
    @apply bg-blue-600;
}

.sidebar__toggled div:nth-child(1) {
    transform: translate(0, .4rem) rotate(45deg);
}

.sidebar__toggled div:nth-child(2) {
    @apply w-0
}

.sidebar__toggled div:nth-child(3) {
    transform: translate(0, -.4rem) rotate(-45deg);
}

.animate-scale {
    animation: scale-up 0.15s linear;
}

@keyframes scale-up {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.slide-in {
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }   

    100% {
        transform: translateY(-20%);
        opacity: 0;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.description-text {
    @apply text-sm text-[#595959];
}

.external-link {
    @apply text-blue-600 hover:underline;
}

.slow-spin {
    animation: slow-spin 100s linear infinite;
}

@keyframes slow-spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mainpost h1{
    @apply text-3xl md:text-5xl mb-5 mt-10;
}

.mainpost h2{
    @apply text-2xl md:text-4xl mb-4 mt-9;
}

.mainpost h3{
    @apply text-[22px] md:text-3xl mb-3 mt-8;
}

.mainpost h4{
    @apply text-xl md:text-2xl mb-2 mt-7;
}

.mainpost h5{
    @apply text-lg md:text-xl mb-1 mt-6;
}

.mainpost h6{
    @apply text-base md:text-lg mb-0.5 mt-5;
}

.mainpost ul {
    @apply list-disc pl-10
}

.grid-container>li>div {
    height: 100%;
    background: rgb(1,52,131);
    background: -moz-linear-gradient(145deg, rgba(1,52,131,1) 0%, rgba(166,0,255,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(1,52,131,1) 0%, rgba(166,0,255,1) 100%);
    background: linear-gradient(145deg, rgba(1,52,131,1) 0%, rgba(166,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#013483",endColorstr="#a600ff",GradientType=1);
}

.grid-container>li:nth-child(3) {
    grid-row: span 2;
}

.grid-container>li:nth-child(4) {
    grid-column: span 2;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.removebg-header {
    font-weight: 900;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(145deg, rgba(0,0,0,1) 40%, rgba(5,132,255,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(0,0,0,1) 40%, rgba(5,132,255,1) 100%);
    background: linear-gradient(145deg, rgba(0,0,0,1) 40%, rgba(5,132,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0584ff",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature {
    background: rgb(105,34,255);
    background: -moz-linear-gradient(180deg, rgba(105,34,255,1) 0%, rgba(26,0,83,1) 79%);
    background: -webkit-linear-gradient(180deg, rgba(105,34,255,1) 0%, rgba(26,0,83,1) 79%);
    background: linear-gradient(180deg, rgba(105,34,255,1) 0%, rgba(26,0,83,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6922ff",endColorstr="#1a0053",GradientType=1);
}

.sidebar-heading-3 {
    padding-left: 0;
}

.sidebar-heading-4 {
    padding-left: 6px;
}

.sidebar-heading-5 {
    padding-left: 12px;
}

.sidebar-heading-6 {
    padding-left: 18px;
}