.slider {
    min-height: 100vh;
    gap: 3rem;
    padding: 7rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .slider {
        padding: 7rem 2rem 2rem 2rem;
    }
}